<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="The Iron Yard" src="images/tiy_logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" class="bgUnChange">IYU</a></li>
                <li><a href="/manage_students" class="bgChange">Students</a></li>
                <li><a href="/manage_instructors" class="bgChange">Instructors</a></li>
                <li><a href="/manage_class" class="bgChange">Classes</a></li>
                <li><a href="/manage_grades" class="bgChange">Grades</a></li>
                <li><a href="/manage_majors" class="bgChange">Majors</a></li>
                <li><a href="/manage_assignments" class="bgChange">Assignments</a></li>
                <li><a href="/manage_major_class" class="bgChange">Maj to Class</a></li>
                <li><a href="/manage_student_class" class="bgChange">Stu to Class</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
