<style>
#baseBackGround {
      /* The image used */
      background-image: url("images/courtyard.jpg");

      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<h1 align="center">Welcome to the Iron Yard <br />University Registration Administration <br />Tool</h1>
<h2 align="center">IY URA Tool</h2>
